<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.tequila.dao.ProductMapper">

    <resultMap id="productMapper" type="com.tencent.tequila.model.Product">
        <id property="id" column="id"/>
        <result property="brand" column="brand"/>
        <result property="code" column="code"/>
        <result property="name" column="product_name"/>
        <result property="type" column="product_type"/>
        <result property="info" column="product_info"/>
        <result property="num" column="product_num"/>
        <result property="time" column="add_time"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_time" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updated_time" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <sql id="baseColumn" >
    <![CDATA[
        `id`, `brand`,`code`,`product_name`,`product_type`,`product_info`, `product_num`,`status`,`add_time`,`created_time`, `updated_time`
        ]]>
    </sql>
    <select id="getProducts" resultMap="productMapper">
        SELECT
        <include refid="baseColumn" />
        FROM smart_product
        WHERE status = 1
    </select>
    <select id="getProduct" resultMap="productMapper" parameterType="java.lang.Integer">
        SELECT
        <include refid="baseColumn" />
        FROM smart_product
        WHERE id = #{id} and status = 1
    </select>
    <select id="getProductByParams" resultMap="productMapper" parameterType="com.tencent.tequila.model.Product">
        SELECT
        <include refid="baseColumn" />
        FROM smart_product
        WHERE 1 = 1
        <if test="name != null"  >
            and  product_name = #{name}
        </if>
        <if test="brand != null">
            and brand = #{brand}
        </if>
        <if test="type != null">
            and product_type = #{type}
        </if>
        and status=1
    </select>

    <select id="getProductByCode" resultMap="productMapper" parameterType="java.lang.String">
        SELECT
        <include refid="baseColumn" />
        FROM smart_product
        WHERE code = #{code} and status = 1
    </select>

    <delete id="clearProduct" parameterType="java.lang.String">
        DELETE
        FROM smart_product
        where code = #{code}
        limit 1
    </delete>

    <update id="upsertProduct" parameterType="com.tencent.tequila.model.Product">
        INSERT INTO `smart_product` (`id`,`brand`, `code`,`product_name`,`product_type`,`product_info`, `product_num`,add_time)
        VALUE(#{id},#{brand}, #{code}, #{name}, #{type}, #{info}, #{num},DATE_FORMAT(NOW(),'%Y-%m-%d'))
        ON DUPLICATE KEY UPDATE product_num=#{num}
    </update>

</mapper>
